<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Websocket</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/naive-ui@2.32.1"></script>
    <style>
      body {
        padding: 16px;
        box-sizing: border-box;
        margin: 0;
        width: 100vw;
        height: 100vh;
      }
      .flex {
        display: flex;
      }
      .flex-col {
        flex-direction: column;
      }
      .around {
        justify-content: space-around;
      }
      .btn-group {
        margin-top: 20px;
      }
      .btn-group button {
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2>Websocket chat | {{identify}}</h2>
      <div class="flex around">
        <n-statistic label="online" tabular-nums style="width: 120px">
          <n-number-animation :from="0" :to="onlineCount" />
        </n-statistic>
        <n-collapse :default-expanded-names="['1', '2']">
          <n-collapse-item title="websocket-status" name="1">
            <div class="ws-status-wrapper">
              <div class="item" v-for="item in records">{{ item }}</div>
            </div>
          </n-collapse-item>
          <n-collapse-item title="websocket-chat" name="2">
            <div class="ws-chat-wrapper">
              <div class="item" v-for="item in messages">{{ item }}</div>
            </div>
          </n-collapse-item>
        </n-collapse>
      </div>

      <div style="padding: 10px">
        <n-input v-model:value="sendValue" type="textarea" placeholder="please input" />
      </div>

      <div class="btn-group">
        <n-button @click="send">send message</n-button>
        <n-button @click="reconnect">reconnect</n-button>
        <n-button @click="disconnect">disconnect</n-button>
      </div>
    </div>

    <script>
      const { createApp, h, ref, unref, onMounted, computed } = Vue

      const App = {
        name: "App",
        setup() {
          const connecting = ref(false)
          const heartStatus = ref("ping")
          // { type, data }
          const messages = ref([])
          // connect log
          const records = ref([])
          const onlineCount = ref(0)
          const sendValue = ref("")
          const identify = ref("-")

          const recordStatus = data => {
            records.value = [...records.value, `[${new Date().toString()}]: ${data}`]
          }

          const SocketType = {
            // 消息记录
            message: "message",
            // 协作(不保存历史)
            cooperate: "cooperate",
            // 错误
            error: "error",
            // 仅通信
            notify: "notify",
            // 心跳
            pingpong: "pingpong"
          }

          /** @type {WebSocket} */
          let ws
          const checkTime = 5000
          const waitServeTime = checkTime + 3000
          let checkTimer = null
          let waitServeTimer = null

          const heartCheck = () => {
            checkTimer = setTimeout(() => {
              console.log(`[heart check] ---> ${Date.now()}`)
              ws.send(
                JSON.stringify({
                  type: SocketType.pingpong,
                  data: new Date().getTime()
                })
              )
              heartStatus.value = `ping`
              waitingServer()
            }, checkTime)
          }

          const waitingServer = () => {
            waitServeTimer = setTimeout(() => {
              if (ws) {
                console.log(`[waited status]: ${heartStatus.value} <--- ${Date.now()}`)
                if (heartStatus.value !== "pong") {
                  disconnect({ messgae: `no response` })
                } else {
                  heartCheck()
                }
              } else {
                console.log(`[maybe close] <--- ${Date.now()}`)
              }
            }, waitServeTime)
          }

          const initWs = () => {
            recordStatus("WebSocket will start connection...")
            ws = new WebSocket(`wss://localhost:4002/ws/cooperate`)

            ws.onopen = () => {
              recordStatus("WebSocket connection opened")
              if (ws.readyState === 1) {
                connecting.value = true
                heartCheck()
              }
            }

            ws.onmessage = event => {
              try {
                // { type, data: { category, value }, date }
                const json = JSON.parse(event.data)
                switch (json.type) {
                  case SocketType.notify:
                    console.log(json)
                    if (json.data.category === "online") {
                      onlineCount.value = json.data.value
                    } else if (json.data.category === "identify") {
                      identify.value = json.data.value
                    }

                    break
                  case SocketType.message:
                    messages.value = [...messages.value, `[${json.date}]: ${json.data.value} --> ${json.data.identify}`]
                    break
                  case SocketType.pingpong:
                    console.log(`[receive pong] <--- ${Date.now()}`)
                    connecting.value = true
                    heartStatus.value = `pong`
                    break
                }
              } catch (e) {
                recordStatus("Invalid JSON: ", event.data)
              }
            }

            ws.onclose = function (event) {
              recordStatus(`WebSocket connection closed, readyState: ${ws.readyState}`)
              console.log(`[onclose]: `, event)
              resetWsStatus()
            }

            ws.onerror = function (error) {
              recordStatus(`WebSocket error, readyState ${ws.readyState}`)
              console.log("[onerror]: ", error)
              resetWsStatus()
              ws.close()
            }
          }

          const resetWsStatus = () => {
            connecting.value = false
            heartStatus.value = `ping`
            waitServeTimer && clearTimeout(waitServeTimer)
            checkTimer && clearTimeout(checkTimer)
          }

          onMounted(() => {
            initWs()
          })

          const reconnect = () => {
            if (connecting.value) {
              disconnect()
              initWs()
            } else initWs()
          }
          const disconnect = (msg = { message: `exit normal` }) => {
            if (connecting.value) {
              ws && ws.close(1000, msg)
              connecting.value = false
            }
          }

          const send = () => {
            if (ws && ws.readyState === 1 && sendValue.value) {
              ws.send(JSON.stringify({ type: `message`, data: sendValue.value }))
              sendValue.value = ``
            }
          }

          return {
            messages,
            records,
            onlineCount,
            sendValue,
            reconnect,
            disconnect,
            identify,
            send
          }
        }
      }
      const app = Vue.createApp(App)
      app.use(naive)
      app.mount("#app")
    </script>
  </body>
</html>
